<mat-toolbar color="primary">
    <span><a [routerLink]="['/']"><h1 style="color: white">HomePage</h1></a></span>
  </mat-toolbar>


  <div class=" semantic ui main segment container" style="margin-top: 40px">
      <form class="ui form" #addProductForm="ngForm" (ngSubmit)="onSubmit(addProductForm)">
          <div class="field">
            <label>Title</label>
            <input name="title" ngModel required #title="ngModel" required>
            <div *ngIf="!title.valid && title.touched" class="ui red message">Please enter a Title</div>
          </div>
          <div class="field">
            <label>Image URL</label>
            <input name="image" ngModel required #image="ngModel">
            <div *ngIf="!image.valid && image.touched" class="ui red message">Please enter an Image URL</div>
          </div>
          <div class="field">
              <label>Price</label>
              <input type="number" name="price" ngModel required #price="ngModel" required min="0" oninput="validity.valid||(value='');">
              <div *ngIf="!price.valid && price.touched" class="ui red message">Please enter a price greater than 0</div>
            </div>
            <div class="field">
                <label>Description</label>
                <input type="text" name="description" ngModel required #description="ngModel">
                <div *ngIf="!description.valid && description.touched" class="ui red message">Please enter a Description</div>
              </div>
          <button [disabled]="!addProductForm.valid" class="ui button" type="submit">Submit</button>
        </form>
  </div>
